<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Your Form </title>
    <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <script type="text/javascript">
        const runTest = require("index.js")  
    </script>
    <script type="module">
        import { runTest } from "./index.js";
        // module.runTest = runTest;
    </script> -->
      
    <style>
        body {
            margin: 10em;
        }
        .alert {
            padding: 0.5em;
            background-color: #04AA6D; 
            /* #f44336; */
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 1em;
        }

        .alert.fialed {background-color: #f44336;}
        #errorMessage {
            display: none;
        }
        .detailsbtn {
            margin: 1em;
            background-color: white;
            color: #f44336;
            cursor: pointer;
            height: 1.8em;
            text-align: center;
            justify-items: center;
            border-radius: 1em;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h3>Test Results : <span class="alert">PASS</span> <span class="alert fialed">FIALD</span> </h3>
    <section >
        <% if (allRes.length > 0) { %>
            <% for (let i = 0; i < allRes.length; i++) { %>
                <% if (allRes[i].isPass) { %>
                    <div class="alert">
                        <h5 > <%= allRes[i].testDescription %> </h5>
                    </div>
                <% } else { %>
                    <div class="alert fialed">
                        <h5> <%= allRes[i].testDescription %> </h5>
                        <p class="detailsbtn" onclick="moreDetails()"> Details </p>
                        <p id="errorMessage">  <%= allRes[i].errorMessage %> </p>
                    </div>
                <% } %>
            <% } %>
        <% } else { %>
            <h2>fieald to run the tests </h2>
        <% } %>
    </section>
<script>
    const moreDetails  = ()=> {
        const err = document.getElementById("errorMessage");
        if( err.style.display === "block"){
            err.style.display = "none";
        }else {
            err.style.display = "block"
        }
    }
</script>
</body>
</html>